*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary--moderate-violet: hsl(263, 55%, 52%);
  --color-primary--grayish-blue: hsl(217, 19%, 35%);
  --color-primary--blackish-blue: hsl(219, 29%, 14%);
  --color-primary--white: hsl(0, 0%, 100%);

  --color-secondary--avatar-border: #a775f1;
  --color-secondary--avatar-border--light: #bfa3ff;
  --color-secondary--avatar-border--lighter: #d7c6ff;

  --color-neutral--light-gray: hsl(0, 0%, 81%);
  --color-neutral--grayish-blue: hsl(210, 46%, 95%);

  font-size: 62.5%;
}

body {
  min-width: 100vw;
  min-height: 100vh;

  background-color: var(--color-neutral--grayish-blue);
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main.container {
  width: 327px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  article.testimonial {
    width: 327px;
    padding: 1.8em 2.45em 2.6em;
    border-radius: 8px;

    section.author {
      margin-bottom: 1.5em;
      display: flex;
      align-items: center;
      gap: 16px;

      img.avatar {
        width: 32px;
        height: 32px;
        border-width: 2px;
        border-style: solid;
        border-radius: 50%;
      }

      div.author-details {
        h3.name {
          margin-bottom: 0.1em;
          font-weight: 500;
          font-size: 1.3rem;
        }

        p.status {
          opacity: 0.4;
          font-size: 1.1rem;
        }
      }
    }

    section.statement {
      h2.title {
        margin-bottom: 0.8em;
        font-size: 2rem;
        font-weight: 600;
      }

      blockquote {
        opacity: 0.6;
        font-size: 1.3rem;
        line-height: 1.6em;
        letter-spacing: 0.3px;
      }
    }
  }

  article#t1 {
    background-color: var(--color-primary--moderate-violet);
    background-image: url('../images/bg-pattern-quotation.svg');
    background-size: 104px 102px;
    background-repeat: no-repeat;
    background-position: calc(100% - 24px) 0;

    section.author {
      img.avatar {
        border-color: var(--color-secondary--avatar-border);
      }

      div.author-details {
        h3.name,
        p.status {
          color: var(--color-primary--white);
        }
      }
    }

    section.statement {
      h2.title {
        margin-bottom: 2em;
      }

      h2.title,
      blockquote {
        color: var(--color-primary--white);
      }
    }
  }

  article#t2 {
    background-color: var(--color-primary--grayish-blue);

    section.author {
      img.avatar {
        border-color: var(--color-secondary--avatar-border--light);
      }

      div.author-details {
        h3.name,
        p.status {
          color: var(--color-primary--white);
        }
      }
    }

    section.statement {
      h2.title,
      blockquote {
        color: var(--color-primary--white);
      }
    }
  }

  article#t3,
  article#t5 {
    background-color: var(--color-primary--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    section.author {
      img.avatar {
        border-color: var(--color-secondary--avatar-border--lighter);
      }

      div.author-details {
        h3.name,
        p.status {
          color: var(--color-primary--grayish-blue);
        }
      }
    }

    section.statement {
      h2.title,
      blockquote {
        color: var(--color-primary--grayish-blue);
      }
    }
  }

  article#t4 {
    background-color: var(--color-primary--blackish-blue);

    section.author {
      img.avatar {
        border-color: var(--color-secondary--avatar-border);
      }

      div.author-details {
        h3.name,
        p.status {
          color: var(--color-primary--white);
        }
      }
    }

    section.statement {
      h2.title {
        color: var(--color-neutral--light-gray);
      }

      blockquote {
        color: var(--color-primary--white);
      }
    }
  }
}

footer.attribution {
  margin: 1.5em auto;
  font-size: 1.2rem;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

/* ---------- Wide Screen Styling ---------- */

@media (min-width: 1130px) {
  main.container {
    width: 1110px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, 1fr);

    article.testimonial {
      section.statement {
        h2.title {
          margin-bottom: 0.6em !important;
        }

        blockquote {
          line-height: 1.45;
          letter-spacing: 0.1px;
        }
      }
    }

    article#t1 {
      width: 540px;
      height: 282px;
      grid-row: 1;
      grid-column: 1 / span 2;
    }
    article#t2 {
      width: 255px;
      height: 282px;
      grid-row: 1;
      grid-column: 3;
    }
    article#t3 {
      width: 255px;
      height: 266px;
      grid-row: 2;
      grid-column: 1;
    }
    article#t4 {
      width: 540px;
      height: 266px;
      grid-row: 2;
      grid-column: 2 / span 2;
    }
    article#t5 {
      width: 255px;
      height: 572px;
      grid-row: 1 / span 2;
      grid-column: 4;
    }
  }
}
